.locationInput{
  margin: 5px;
  background-color: lightblue;
  width: 355px;
  height: 80px;
  border-radius: 20px;
  flex-direction: column;
  position: relative;
  text-transform: capitalize;
  
  &-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-label{
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #fff;
    margin-left: 5px;
    padding-top: 10px;
    margin-bottom: 0;;
  }

  &-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  input {
    text-align: center;
    background-color: #fff;
    border: 0;
    height: 30px;
    width: 75%;
    border-radius: 20px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;

   }

   &-range{
    position: relative;
    font-size: 14px;
    width: 25%;
    line-height: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    &-dropDown{
      overflow: scroll;
      position: absolute;
      top: 45px;
      height: 80px;
      width: 100%;
      border-radius: 15px;
      padding-top: 10px;
      background-color: lightblue;

    }
   }

}

.disabled{ 
  background-color: lightgrey;
}

.visible {
  opacity: 100%;
  display: block;
}

.hidden {
  opacity: 0;
  display: none;
}