@import "./variables.scss";

body{
  margin: 0;
  padding: 0;
}

.main-info-text {
  color: #fff;
  font-size: 24px;
  font-family: 'M plus 1p';
  font-style: normal;
  font-weight: 500;
}

.usual-info-text {
  color: #fff;
  font-size: 16px;
  font-family: 'M plus 1p';
  font-style: normal;
  font-weight: 500;
}


.keyValuePair{
  display: flex;
  margin: 5px;
  text-transform: capitalize;
  flex-direction: row;
  min-width: 150px;
}