@import '../../sass/variables.scss';


.banner {
  position: absolute;
  top: 0;
  max-height: 100vh;
  width: 100%;

  &-slogan{
    position: absolute;
    top: 10vh;
    left: 9%;
    z-index: 2;
    color: #fff;
    font-weight: 800;
    font-size: 85px;
    line-height: 133px;
    letter-spacing: -0.015em;
  }

  &-button{
    background-color: transparent;
    color: #fff;
    border: 2px solid $turquoise;
    border-radius: 20px;
    width: 211px;
    height: 56px;
    font-size: 30px;
    text-transform: uppercase;

  }

  &-background{
    margin-top: 10px;
    max-width: 1300px;
    border-radius: 40px;
    position: absolute;
    right: -5%;
    left: 45%;
    width: 100%;
    transform: scaleX(-1);
  }
}