.carouselWrapper{
  overflow: hidden;
  height: 400px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  &-slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 100px;
    &-image{
      border-radius: 20px;
      max-width: 400px;
    
    }
    img{
      max-height: 315px;
    }
  }
}


.swiper-wrapper{
  // width: 90% !important;
}

.slick-dots li button:before {
  color: #fff !important;
}