.carWrapper{
  height: 140vh;
  overflow: hidden;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  

  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 150px auto;
    margin-bottom: 50px;

    &-location{
      font-size: 18px;
      line-height: 22px;

    }

    &-price{
      font-size: 36px;
      line-height: 44px;
    }
  }
}