.offersCarCard{
  width: 250px;
  height: 400px;
  background-color: #FFE8B4;
  margin: 20px;

  border-radius: 20px;
  &-image{
    border-radius: 20px 20px 0 0;
    width: 250px;  
    height: 200px;
    overflow: hidden;
    img{
      width: 250px;
      height: auto;
    }
  }

  &-title{
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    &-name{
      text-align: center;
      color: rgb(83, 83, 83);
    }  
  }



  &-footer{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}