

.home{
  position: absolute;
  background-color: #fff;
  min-height: 100vh;
  &-decorations{
    width: 22px;
    position: absolute;
    left: 40px;
    top: 35vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    &-item{
      &:nth-child(1){
        margin-top: 100px;
      }

      width: 2px;
      height: 30vh;
      background-color: #000;

    }

    &-horizontal{
      transform: rotate(90deg);
      height: 5%;
      top: 0; 
      left: 90%;

      &:nth-child(2){
        top: 75vh !important;
        left: 30% !important;
      }
    }

    &:nth-child(2){
      top: 10vh;
      left: 96%;

    }
  }


  &-section{
    min-height: 80vh;
    width: 100%;
    position: relative;
    &-first{
      margin-top: 100px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &-fadingText{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 288px;
        line-height: 351px;
        color: #FFB100;
        background: -webkit-linear-gradient(top,#ffb300a8 0%, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      img{
        margin-top: -220px;
      }
    }

    &-marketing{
      display: flex;
      width: 50%;
      margin: 0 auto;
      justify-content: space-evenly;
      align-items: center;
      font-family: 'PT Sans Narrow', sans-serif;
     
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 52px;
        font-weight: 700;
        text-transform: uppercase;
      }

      img{ 
        width: 178px;
        height: 30px;
        transform: scale(0.5);
       }
       &-btn{
         width: 150px;
         height: 150px;
         text-align: center;
         line-height: 150px;
         cursor: pointer;
         text-transform: uppercase;
         background:radial-gradient(50% 50% at 50% 50%, rgba(255, 220, 142, 0.84) 0%, rgba(219, 163, 35, 0) 100%);
       }
    }

    
  }
  &-second{
    height: 80vh;
    background-color: #ffedc454;
    position: relative;
    overflow: hidden;

    &-main{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 100px;
      position: relative;
      width: 100%;
      height: 60vh;
      padding-left: 10%;
      &-body{
        font-family: 'PT Sans Narrow', sans-serif;
        font-family: 'Space Mono', monospace;
        &-pre{
          color: #FFD77F;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 35px;
        }

        &-header{
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 52px;
        }
        &-section{
          margin-top: 20px;
          margin-bottom: 20px;
          font-family: 'PT Sans Narrow', sans-serif;
          font-family: 'Space Mono', monospace;
          &-header{
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 30px;
            display: flex;
            align-items: center;
            letter-spacing: 0.205em;
          }

          &-body{

            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;  
          }
        }

      }
      // &-image{
      //   img{

      //   }
      // }
    }
  }

  &-third{
    width: 100%;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Space Mono', monospace;
    &-header{
      color: #FFD77F;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 70px;
    }  

    &-body{
      &-reviews{
        display: flex;  
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1150px;

        &-item{
          width: 350px;
        }

      }
    }
  }
}
