.papperWrapper{
  position: relative;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  margin: 10px auto;
}