.configurationCreator{
  flex: 1;
  position: relative;  
  transition: 0.2 ease-in-out;

  &-header{ 
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &-body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    &-inputWrapper{
      margin: 20px;
      width: 45%;
      label{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p{
          margin-bottom: 10px;
        }
      }
      input{
        text-align: center;
        border: 0;

        line-height: 24px;
        font-size: 16px;
      }
    }


    &-btn{
      transition: 0.3s ease-in-out;
      width: 150px;
      height: 35px;
      line-height: 35px;
      color: white;
      background-color: lightblue;
      text-align: center;
      border-radius: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-presentation{
      width: 90% ;
      margin: 20px auto;
    }

    &-carousel {
      position: relative;
      width: 100%;
      max-width: 1200px;
      height: 350px;
    }
  }

  &-buttons{
    width: 100%;
    position: absolute;
    bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    &-btn{
      margin: 10px;
      transition: 0.3s ease-in-out;
      width: 150px;
      height: 35px;
      line-height: 35px;
      color: white;
      background-color: lightblue;
      text-align: center;
      border-radius: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  &-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
}

.loadingBtn{
  transition: 0.3s ease-in-out;
  background-color: lightblue;
  width: 35px;
  height: 35px;
}

.disabledBtn{
  cursor: default;
  background-color: lightgray;
}

.activeRetryBtn{
  background-color: tomato !important;
}