.technicianDashboard{
  position: absolute;
  max-width:  1400px;
  width: 90%;
  left: 0; 
  right: 0;
  margin: 100px auto;
  
  &-content{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  }
}