  .offers{
    &-wrapper{
      overflow-x: hidden;
      padding-top: 85px;
      &-filter{ 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &-form{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          flex: 2 0 21%;
          margin-left: 50px;
          width: 50%;
          max-width: 700px;
          min-width: 420px;

        }
        &-image{
          margin-left: 25px;
          width: 45%;
        }
      }

      &-cars{
        margin: 0 auto;
        width: 90%;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }