.dashboard{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(245, 248, 251);
  width: 100%;
  min-height: 100vh;

  
  &-workSpace{
    
    margin-left: 12%;
    width: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
  }

  &-itemWrapper{
    
    width:  40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 200px;

  }
}


.conf-state{
  width: 100%;
  margin: 0 auto ;
  p{ 
    text-align: center; 
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 20px;
  }

}