.register{
  &-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100vh;
    &-left{
      z-index: -1;
      width: 50%;
      position: relative;

      &-fadingText{  
        text-align: center;
        font-size: 140px;
      }
    }

    &-right{ 
      position: absolute;
      right: 0;
      -webkit-box-shadow: -12px 0px 24px 0px rgba(66, 68, 90, 1);
      -moz-box-shadow: -12px 0px 24px 0px rgba(66, 68, 90, 1);
      box-shadow: -12px 0px 24px 0px rgba(66, 68, 90, 1);
      background-color: #D8B669;
      width: 50%;
      min-width: 200px;
      min-height: 100vh;
      color: #fff;
      z-index: -1;
   
      &-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 250px;
        width: 50%;
        display: flex;  
        min-height: 500px;
        &-link{
          cursor: pointer;
        }
        &-submit{
          color: tomato;
        }
      }
    }
  }
}


.styled-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    line-height: 30px;
    font-size: 12px;
    border: 0;
    height: 35px;
    width: 30vw;
    margin: 10px;
    border-radius: 20px;
  }

  button {
    border: 0;
    border-radius: 20px;
    height: 35px;
    width: 100px;
    margin-bottom: 10px;

    &:hover{
      cursor: pointer;
      background-color: #30303030;
    }
  }
}

.form-error{
  margin: 0;
  color: tomato;
  font-weight: 800;
  font-size: 10px;
  height: 35px;
  position: absolute;
  right: 2vw;
  top: 22.5px;
}

.input-wrapper{
  position: relative;
  height: 55px;
 
 
}