.dropdown{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 10px 10px;
  &-input{
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    line-height: 40px;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    background-color: #D8B669;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    p{
      padding-left: 10px;
    }
    &-arrow{
      position: absolute;
      right: 5px;

    }
  }

  &-menu{
    position: absolute;
    top: 45px;
    z-index: 2;
    width: 250px;
    max-height: 200px;
    overflow-y: scroll;
    padding: 10px;
    margin-top: 5px;
    border-radius: 20px;
    background-color: rgb(216, 213, 213);
    &-item{
      cursor: pointer;
      margin: 10px;
      text-align: center;
      text-transform: capitalize;
    }
  }
}

.dropdown-menu-hidden{
  display: none;
}

.inactive-dropdown{
  opacity: 50%;
}