.dashBoardInfo-wrapper-body{
  position: relative;
  
  &-paymentChart{
    margin: 20px auto;
    height: 135px;
    width: 330px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 24px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px -3px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 24px -3px rgba(66, 68, 90, 1);
    p{
      padding: 5px;
      font-weight: lighter;
      text-align: center;
    }
  }

  &-label{
    margin-top: 14px;
    font-size: 24px;
    font-weight: bold;
    p{
      display: inline-block;
      font-size: 20px;
      font-weight: lighter;
      color: grey;
    }
  }

  &-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    max-width: 800px;
    
    p{
      display: flex;

      align-items: center;
      margin: 5px;
      font-size: 18px;
      font-weight: 400;
      svg{
        margin-right: 5px;
      }
    }
    &-owner{
      display: flex;
      flex-direction: column;
    }
  }
  
}
