.orderStatus{
  overflow: hidden;
  text-overflow: clip;
  &-label{
    display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;

  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: lightblue;
  min-width: 100px;
  max-width: 120px;
  &-dot{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: lightblue;
  }
}