@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.contacts-cell {
	width: 40rem;
	border-bottom: 0.1rem solid rgb(255, 255, 255);

	.cell-label {
		color: #9c9c9c;
		font-size: 1.3rem;
		font-family: 'Inter', 'Arial', sans-serif;
		line-height: 1.55;
		font-weight: 400;
		background-position: center center;
		border-color: transparent;
		border-style: solid;
	}

	.cell-content {
		color: whitesmoke;
	}
}
