form {
	input {
		margin: -1.5rem auto;
	}

	.submitButton {
		width: 50%;
		margin: 3rem auto 2rem;
		padding: 1rem 4rem;
		background-color: hsl(360, 100, 70);
		border: none;
		border-radius: 15px;

		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		font-weight: 300;
		color: white;

		cursor: pointer;
	}
}

.loginLink {
	// margin-top: 2rem;
	color: white;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;

	&:hover {
		text-decoration: underline;
	}
}
