@import "../../../variables.scss";

.configurationCard {
  min-width: 900px;
  margin: 10px auto;
  width: 90%;
  min-height: 125px;
  height: 120px;
  max-height: 150px;
  padding: 10px;
  border-radius: 20px;
  background-color: $base-card-color;
  color: $base-font-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  &-part {

    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    

    &:first-child {
      flex-grow: 5;
      flex-basis: 10%;
    }

    &-specs{
      overflow-x: scroll;
      width: 60%;
      min-width: 250px;
      max-width: 650px;
      align-self: normal;
    }
  }

  &-type {
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 53px;
    text-transform: capitalize;
  }
 
  &-client {
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }

  &-id {
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  &-separator {
    width: 5px;
    height: 120px;
    background-color: #fff;
    border-radius: 5px;
  }

  &-specs{
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-transform: capitalize;
    margin: 5px;
    background-color: #fff;
    color: $base-card-color;
    border-radius: 8px;
    text-align: center;
  }

}