@import "../../../variables.scss";

.reportCard{
  min-width: 350px;
  max-width: 1400px;
  height: 150px;
  background-color: $base-card-color;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  &-header{
    display: flex;
    flex-direction: row;
    align-items: center;    
    &-type{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
      margin-right: 10px;
    }  

    &-actions{
      display: flex;
      flex-direction: row;
    }
  }

  &-body{
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;
    padding-top: 2px;
    color: #FFFFFF;
    &-section{
      text-overflow: ellipsis;
      min-width: 15%;
      p{
        min-height: 50px;
      }

      textarea{
        resize: none;
        border: 0;
        border-radius: 20px;
        width: 90%;
        padding: 10px;
        height: 90px;
      }
    }

    &-section:nth-child(1){
      width: 85%;
    }
    &-divider{
      background-color: #fff;
      width: 5px;
      height: 100px;
      border-radius: 20px;
      margin: 10px;
    }
  }
}

.reportCard-input{
  text-align: center;
  input{
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 35px;

  }
}