.mainReport{
  min-height: 100vh;
  margin-top: 100px;
  &-body{


    &-header{
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
    }


    &-item{
      position: relative;
      &-price{
        top: 0;
        font-size: 20px;
        line-height: 85px;
        font-weight: 600;
        position: absolute;
        right: 10px;
      }
    }
    
  }

}