.createOrder{
  min-height: 100vh;
  background-color: #fff;
  margin-left: 110px;
  padding: 20px;

  &-stepper{
    &-label{
      
      p{
        font-size: 12px !important;
      }
    }
  }

  &-body{
    width: 100% !important;
  }

  &-buttons{
    position: absolute;
    bottom: 10vh;
    width: 90%;
  }

  &-body{
    height: 85vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.css-117w1su-MuiStepIcon-text{
  font-size: 16px !important;
}

