.customSelect{
  margin: 5px;
  background-color: lightblue;
  width: 175px;
  height: 80px;
  border-radius: 20px;
  flex-direction: column;
  position: relative;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #fff;
    margin-left: 5px;
    padding-top: 10px;
  }
  &-display{
    width: 90%;
    height: 30px;
    margin-top: 5px;
    background-color: #fff;
    border: 0px solid #000;
    border-radius: 20px;
    color: grey;
    font-size: 12px;
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
    margin: 5px auto;
  }

  &-options{
    position: absolute;
    width: 145px; 
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 120px;
    max-height: 250px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 5px;
    overflow: scroll;
    z-index: 2;
    top: 100px;
    &-item{
      text-align: center;
      width: 100%;
      height: 25px;
      margin-top: 5px;
      line-height: 25px;
      border-bottom: 1px solid rgb(220, 220, 220);
      &:hover{
        border-radius: 10px;
        border-bottom: 0px solid #000;
        background-color: rgba(230, 230, 230, 0.8);
      }
    }
  }
}


.visible {
  opacity: 100%;
  display: block;
}

.hidden {
  opacity: 0;
  display: none;
}