@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

form {
	margin-top: 2rem;

	.forgotPasswordLink {
		position: absolute;
		display: block;
		right: 6rem;
		// margin-top: -2rem;

		color: white;
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 1.4rem;

		&:hover {
			text-decoration: underline;
		}
	}

	.submitButton {
		width: 50%;
		margin: 2rem auto;
		padding: 1rem 4rem;
		background-color: hsl(360, 100, 70);
		border: none;
		border-radius: 15px;

		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		font-weight: 300;
		color: white;

		cursor: pointer;
	}
}

.signupLink {
	margin-top: 2rem;
	color: white;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;

	&:hover {
		text-decoration: underline;
	}
}
