.choosePackage{
  display: flex;
  flex-direction: row;
  justify-content: center;


  &-item{
    transition: 0.3s ease-in-out;
    margin: 10px !important;
    &-header{
      font-size: 24px;
      font-weight: 700;
      text-align: center;

    }

    &-body{
      &-image {
        height: 300px;
        width: 300px;
        margin: 30px auto;
        img{
          margin: 0 auto;
          width: 300px;
        }
        
      }

      &-description{
        font-size: 16px;
        font-weight: 300;
        text-align: center;
      }

      &-button{
        cursor: pointer;
        font-weight: 700;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        border-radius: 20px;
        margin: 0 auto;
        width: 120px;
        height: 35px;
        background-color: #60B5CC;
        color: white;
        text-align: center;
        font-size: 16px;
        line-height: 35px;
        transition: 0.3s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
       
      }

    }
    &:hover{
      transform: scale(1.01);
    }
   
  }

}