.dashBoardcard-wrapper{
  cursor: pointer;
  position: relative;
  margin: 15px;
  width: 85%;
  height: 100px;
  min-width: 300px;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 41px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 41px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 41px 0px rgba(34, 60, 80, 0.2);
  &-orderId{
    color: lightgrey;  
    font-size: 10px;
  }

  &-status{
    position: absolute;
    top: 12.5px;
    right: 12.5px;
  }
  &-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    
  }

  &-orderDate{
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
  }


  &-carName{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;

  }
}