@import '../../sass/variables.scss';
.carCard{
  overflow-y: hidden;
  height: 300px;
  width: 250px;
  background-color: #C4C4C4;
  border-radius: 20px;
  margin: 70px;
  position: relative;
  color: #fff;
  font-family: 'Roboto';
    &-image{
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 250px;
      height: 180px;
      -webkit-box-shadow: 0px 5px 34px -10px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 5px 34px -10px rgba(66, 68, 90, 1);
      box-shadow: 0px 5px 34px -10px rgba(66, 68, 90, 1);
      
      &-header{
        position: absolute;
        width: 250px;
        min-height: 18px;
        background: rgba(41, 41, 41, 0.5);
        border-radius: 20px 20px 0 0;
        bottom: 0;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 18px;
        overflow: hidden;
        p{
          margin: 0 auto;
          width: 220px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }

      img{
        width: 250px;
        height: 180px;
        border-radius: 20px 20px 0px 0px;
      }
    }
    &-description {
      padding-top: 10px;
      padding-left: 7px;
      padding-right: 7px;
      background-color: #6CBACF;
      height: 110px;
      border-radius: 0 0 20px 20px;

      &-row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }

      &-price{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 16px;
      }
      
      &-brandName{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
      }

      &-type {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 12px;
        p{ 
          display: inline-block;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 9px;
          text-transform: uppercase;
        }
      }

      &-milage{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 12px;
      }

      &-comment{
        margin-top: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

      }

      &-button {
        cursor: pointer;
        margin-top: 15px;
        margin-left: 5px;
        text-align: center;
        line-height: 25px;
        height: 25px;
        width: 130px;
        border: 1px solid #DBE4FC;
        border-radius: 20px;
        transition: 0.3s ease-in-out;

        &:hover{
          background-color: rgba(196, 196, 196, 0.5);
        }
      }


    }

    
}